<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag '/assets/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="container">
    	<div class="row">
    		<%= yield %>
    	</div>
    </div>
    
  </body>
</html>
